html, body {
  font-family:'Space Mono', monospace;
  font-weight: 500;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 4%;
  margin-left: 8%;
  font-size: 18px;
  color: #333333;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  }

.scarecrow{
  margin-left: 8%;
  margin-top: 12%;
  text-align: center;
}
.message {
  margin-top: 8%;
  margin-right: 8%;
  margin-left: 8%;
}

img {
  max-width: 80%;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 18px;
  max-width: 350px;
  margin-bottom: 8%;
}

.attribution { 
  color: #cecece; 
  font-size: 11px; 
  text-align: center;
  bottom: 0;
 }
.attribution a { color: #bdbdbd; }

button {
  background-color: #333333;
  color: white;
  padding: 25px 32px;
  cursor: pointer;
  margin-top: 8%;
}

footer {
  padding: 1rem;
}

@media (min-width: 800px) {
  main {
    flex-direction: row;
    align-items: center;
  }

  .scarecrow, .message {
    margin-top: 0;
  }
}
